<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title if title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
    <div class="container">
        <h1> Ajouter du bruit sur les données </h1>
        <p> veuillez entrer les valeurs </p>

       <form action="" method="post">
            {{form.hidden_tag()}}
            <div class="form-group">
                <label for="tentacles">epsilon of tentacles (10-100):</label>
                    <input type="number" id="tentacles" name="tentacles"
                     min="10" max="100">
                <label for="tent">kcolonne of tentacles (1-6):</label>
                    <input type="number" id="tent" name="tentacles"
                     min="1" max="6">

            </div>

            {{ form.submit(class="btn btn-primary")}}
        </form>

    </div>
</body>
</html>