<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title if title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
    <div class="container">
        <h1>Creation de compte</h1>
        <p>Merci de completer le formulaire ci-dessous </p>

       <form action="" method="post">
            {{form.hidden_tag()}}
            <div class="form-group">
                {{ form.nom.label(class="form-label")  }} {{ form.nom(size=20) }}
                    {% for error in form.nom.errors %}
                        {{ error }}
                    {%endfor %}

            </div>
            <div class="form-group">

                {{ form.Prenom.label(class="form-label") }} {{ form.Prenom(size=20) }}
                    {% for error in form.Prenom.errors %}
                        {{ error }}
                    {%endfor %}
               {{ form.email.label(class="form-label") }} {{ form.email(size=20) }}
                    {% for error in form.email.errors %}
                        {{ error }}
                    {%endfor %}
                {{form.Password.label(class="form-label")}} {{ form.Password(size=20) }}
                    {% for error in form.Password.errors %}
                        {{ error }}
                     {%endfor %}
            </div>
            {{ form.submit(class="btn btn-primary")}}
        </form>

    </div>
</body>
</html>